@model WebMVC.ViewModels.Activity
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<li> @Html.DisplayFor(model => model.Id)</li>
<li> @Html.DisplayFor(model => model.Title)</li>
<li> @Html.DisplayFor(model => model.Description)</li>
<li> @Html.DisplayFor(model => model.Category)</li>